body{
    padding: 0;
    margin: 0;
font-family: Helvetica, sans-serif;
justify-content: center;
}

.header, .hero-section, .footer{
    background-color: #1f2937;
}

.header, .hero-section, .footer, .testimonials, .gallery-section, .cta-card-container{
    padding: 0px 20vw 0px 70vw;
}
.nav-links, a, p{
    color: #e5e7eb;
    font-size: 18px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0px;
    margin: 0;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.primary-bttn{
display: flex;
text-align: center;
justify-content: center;
padding: 16px;
max-width: 160px;
border-radius: 8px;
border: none;
background-color: #3882F6;
color: white;
font-weight: bold;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 16px 10vw 16px 10vw;
    align-items: center;
    flex-grow: 1;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    padding: none;

}

.nav-links, a{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 0px 0px 24px;
   
}

.hero-section{
    padding: 16px 10vw 16px 10vw;
    display: flex;
    justify-content: space-between;
}

.hero-section p{
padding: 24px 0px 24px 0px ;
}

.title-paragraph-cta{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 45vw;
    max-width: 700px;
    padding-right: 32px;
}

.image-large {
    padding: 16px;
    object-fit: cover;
   width: 40vw;
    max-width: 800px;
}

.gallery-section{
    padding: 16px 10vw 16px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.images-with-text-container{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 48px;
}

.image-with-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.image-text p {
color: #1f2937;
font-size: 16px;
display: flex;
max-width: 160px;
flex-wrap: wrap;}

.icons{
    width: 80px;
    padding: 16px;
    margin: 32px 32px 8px 32px;
    
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 16px;
    border-color: #3882F6;
}

.testimonial-section {
    padding: 80px 20vw 48px 20vw;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background-color: #e5e7eb;
    flex-direction: column;
    flex-grow: 1;
}

q{
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.testimonial-name{
    font-size: 16px;
    font-weight: bold;
    color: #1f2937;
}